.footer {
    background-color: #42495c;
    display: flex;
    flex-direction: column;

    &__wrap {
        display: flex;
        width: 1440px;
        margin: 0 auto;
        margin-top: 30px;
        justify-content: space-between;
        background-color: #42495c;
    }
    .opisanie {
        padding-left: 92px;
        &__text {
            width: 368px;
        }
    }
    .wh-ic {
        padding: 5px;
        background: white;
    }
    .other {
        padding-right: 256px;
    }
}

.line {
    height: 5px;
    width: 1000px;
    margin: 11px auto;
    background: #000;
}
